@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {}

@layer base {
  body {
    @apply dark:bg-gray-400 bg-white
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --color-primary: #4f46e5;
  --color-secondary: #10b981;
  --color-accent: #f59e0b;
  --color-background: #f3f4f6;
  --color-surface: #ffffff;
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Merriweather', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 120, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 120, 0, 0;
    --background-start-rgb: 10, 120, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  */
/* } */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}