@tailwind base;
@tailwind components;
@tailwind utilities;
/* import markdown.css */
@import url('./markdown.css');
@import url('./style.css');

@layer base {
  :root {
    --color-primary: #34d399;
    --color-secondary: #475569;
    --color-tertiary: #94a3b8;
    --color-surface: #e2e8f0;
    --color-background: #f8fafc;
    --color-code-surface: #ecf4fd;
    --color-code-onSurface: #191b1c;
    --color-accent: #cbd5e1;
    --color-block-surface: #e2ebf3;
    --color-link: #2563eb;
    --color-input-background: #f1f5f9;
    --color-selection: #98b6f8;
  }

  .dark {
    --color-primary: #065f46;
    --color-secondary: #374151;
    --color-tertiary: #4b5563;
    --color-surface: #6b7280;
    --color-background: #1f2937;
    --color-sidebar: #111827;
    --color-code-surface: #222324;
    --color-code-onSurface: #e2e8f0;
    --color-accent: #9ca3af;
    --color-block-surface: #46516a;
    --color-link: #7aafe1;
    --color-input-background: #5f6877;
    --color-selection: #AFAFAF;
  }
}

[data-theme="dark"] .rdp,
.dark .rdp {
  --rdp-accent-color: var(--rdp-accent-color-dark);
  --rdp-background-color: var(--rdp-background-color-dark);
}

html,
body {
  @apply bg-background text-foreground;
}

::-moz-selection {
  background: var(--color-primary);
}

::-webkit-selection {
  background: var(--color-primary);
}

::selection {
  background: var(--color-primary);
}

.line-break {
  white-space: pre-wrap;
  /* line height */
  line-height: 1.5;
}

/* body {
  color: rgb(var(--foreground-rgb));
  height: 100vh;
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}